  <nav class="sidebar" id="sidebar">
    <div class="sidebar-header">
      ADMIN
    </div>
     <a href="../layout/index.html" class="active"><i class="bi bi-speedometer2 me-2"></i> Dashboard</a>
    <a href="../pages/users.html"><i class="bi bi-people me-2"></i> Users</a>
    <a href="../pages/categories.html"><i class="bi bi-tags me-2"></i> Categories</a>
    <a href="../pages/templates.html"><i class="bi bi-card-text me-2"></i> Templates</a>
    <a href="../pages/transactions.html"><i class="bi bi-cart me-2"></i> Transactions</a>
    <a href="../pages/packages.html"><i class="bi bi-gift me-2"></i> Packages</a>
    <a href="../pages/subscriptions.html"><i class="bi bi-people-fill me-2"></i> Subscriptions</a>
    <a href="../pages/feedbacks.html"><i class="bi bi-chat-left-text me-2"></i> Feedbacks</a>
    <a href="../pages/reports.html"><i class="bi bi-bar-chart me-2"></i> Reports</a>
    <a href="../pages/settings.html"><i class="bi bi-gear me-2"></i> Settings</a>
  </nav>